.start-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.start-section .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.start-section {
    background-image: url('../assets/background_get_started.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: calc(100vh - 80px);
    align-items: flex-end;
    gap: 5%;
}

.start-content {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%; /* To accommodate both the image and the input-section */
    display: flex; /* To layout its children in a row */
    justify-content: space-between;
    align-items: flex-end; /* To align at the bottom */
    gap: 1rem;
}


.start-content img {
    width: 100%;
    max-width: 650px;
}

.text-content-start {
    position: absolute;
    bottom: 70%;
    left: 10%;
    width: 40%;
    z-index: 10;
    color: rgb(255, 255, 255);
}

.text-content-start h1 {
    font-size: 2rem;
    margin-top: 1rem;
}

.text-content-start p {
    font-size: 1rem;
    width: 100%;
    line-height: 1.5;
}

.start-section .navbar img {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    margin-left: 0;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 5px;
    width: 35%; /* Adjust the width to fit the layout */
    align-self: stretch; /* Makes the input section stretch to the height of start-content */
    color: #ffffff;
}

.input-section label {
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

.input-section input {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-button {
    display: block;
    margin: 1% auto 3%;
    padding: 12px 80px;
    background-color: transparent !important;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
}

.google-signin {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-top: 1%;
    margin-bottom: 2%;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.google-signin::before,
.google-signin::after {
    content: '';
    flex: 1;
    height: 1px;
    background: #FFFFFF; /* Color of the line */
    position: relative;
}

.google-signin::before {
    margin-right: 10px;
}

.google-signin::after {
    margin-left: 10px;
}

.join-discord {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.discord-icon {
    height: 25px;
    width: auto;
}

Footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 2;
}
