.start-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.start-section .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensures it stays above other content */
    background: linear-gradient(to bottom, #727B89, transparent) !important;
}

.start-section {
    background-image: url('../assets/background_get_started.png');
    background-size: 100% 120%;
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: calc(100vh - 60px);
    align-items: flex-end;
    gap: 5%;
}

.start-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    gap: 2rem;
    flex-direction: column;
}

.image-container {
    order: 2;
    align-self: center;
    margin-top: 20px;
}

.chatDoro {
    width: 100%;
    max-width: 650px;
    position: absolute;
    bottom: -10%; /* Adjust to move the image lower */
    left: 3%;
}

.text-content-start {
    width: 40%;
    position: relative;
    flex: 1;
    color: rgb(255, 255, 255);
    order: 1;
    margin-bottom: -5%;
    margin-right: auto;
}

.text-content-start h1 {
    font-size: 2rem;
    margin-top: 1rem;
}

.text-content-start p {
    font-size: 1rem;
    line-height: 2.0;
}

.input-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 5px;
    color: #ffffff;
    position: relative;
    transform: translateY(-40%);
    width: 40%;
}

.input-section label {
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

.input-section input {
    padding: 0.5rem;
    border-radius: 7px;
    border: 1px solid #ccc;
    width: 80%;
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
}

.register-button {
    display: block;
    margin: 1% auto 3%;
    padding: 12px 80px;
    background-color: transparent !important;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 35%;
}

.google-signin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-top: 1%;
    margin-bottom: 2%;
    text-decoration: none;
    margin-left: -10%;
    color: rgb(255, 255, 255);
}

.google-signin::before,
.google-signin::after {
    content: '';
    height: 1px;
    background: #FFFFFF;
}

.google-signin::before {
    margin-right: 10px;
}

.google-signin::after {
    margin-left: 10px;
}

.join-discord {
    display: block;
    width: 100%;
    text-align: center;
    margin-left: -10%;
    font-size: 16px;
}

.discord-icon {
    height: 25px;
    margin-left: 2%;
}

Footer {
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    background: transparent !important;
    z-index: 2;
}



