.hero-section .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.hero-section {
    background-image: url('../assets/homepage_top_background.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 100vh;
    align-items: flex-end;
    gap: 5%; /* Provides spacing between image+button and the text box */
}

.hero-section img {
    width: 60%;
    max-width: 600px; /* You can set a max-width if you don't want the image to be too big on large screens */
    position: absolute;
    bottom: 20%;
    left: 10%;
}

.svg-image1, .svg-image2 {
    position: relative;
    width: calc(100% + 90px); /* or whatever size you want */
    z-index: 1; /* make sure it's below other content but above the background */
}

.svg-image1 {
    top: 0%; /* adjust as needed */
}

.svg-image2 {
    top: 70%; /* adjust as needed */
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 0 1px #C9D4F8;
    }
    20% {
        box-shadow: 0 0 0 4px #C9D4F8;
    }
    40% {
        box-shadow: 0 0 0 6px #C9D4F8;
    }
    60% {
        box-shadow: 0 0 0 8px rgba(201, 212, 248, 0.6);
    }
    80% {
        box-shadow: 0 0 0 10px rgba(201, 212, 248, 0.3);
    }
    90% {
        box-shadow: 0 0 0 12px rgba(201, 212, 248, 0);
    }
    100% {
        box-shadow: 0 0 0 12px rgba(201, 212, 248, 0);
    }
}

.start-session-btn {
    position: absolute;
    bottom: calc(63%);
    left: 27%;
    transform: translateX(-50%);
    border: none;
    background-color: #f2f6ff;
    color: #728094;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid rgba(128, 128, 128, 1);
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    animation: pulsate 1.5s ease-out infinite; /* This line adds the pulsating animation to the button */
}


.text-content {
    position: absolute;
    right: 15%;  /* Adjust the horizontal position */
    bottom: 45%; /* Adjust the vertical position */
    width: 30%;  /* Adjust the width of the text box */
    z-index: 10; /* Ensure the text appears above other elements */
    color:rgba(255, 255, 255, 0.859);
}

.text-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text-content p {
    font-size: 1rem;
}

.hero-section .navbar img {
    position: absolute; /* Allow the image to be positioned based on the navbar */
    top: 50%;           /* Center the image vertically in the navbar */
    left: 20px;         /* Push the image a bit from the left edge for some spacing */
    transform: translateY(-50%); /* Vertically center the image */
    margin-left: 0;     /* Reset the margin to ensure it doesn't interfere */
}


/* ... your existing styles ... */