.navbar {
    box-shadow: none !important;
    background-color: transparent !important;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: left;
    margin-top: -0.5%;
}

.navbar .MuiButton-root, .navbar .MuiTypography-root {
    color: #fff; /* White text color */
}

/* Hide the ripple effect (specific to Material-UI buttons) */
.buttonStyle .MuiTouchRipple-root {
    display: none;
}