.profile-before-session {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.profile-before-session .navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: linear-gradient(
    to bottom,
    rgba(114, 123, 137, 1) 0%,
    rgba(114, 123, 137, 0) 100%
  ) !important;
}

.profile-before-session .navbar img {
  position: absolute;
  top: 50%;
  left: 2vw; /* Updated from px to vw for responsiveness */
  transform: translateY(-50%);
}

.profile-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh; /* Updated from px to vh for responsiveness */
}

.user-info {
  margin-top: 7%;
  text-align: center;
  color: #728094;
}

.user-avatar {
  width: 20vw; /* Updated from px to vw for responsiveness */
  max-width: 150px; /* Prevent the avatar from becoming too large */
  border-radius: 50%;
}

.session-button-box {
  background-color: #D4DCE94D;
  padding: 5%;
  border-radius: 2vw;
  margin: 1% auto; /* Centered with margin */
  width: 50%;
  height: 20vh;
  display: flex;
  justify-content: center; /* Centered content horizontally */
  align-items: center; /* Centered content vertically */
}

.test-results {
  background-color: #F2F6FF;
  border-radius: 2vw; /* Updated from px to vw for responsiveness */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2%; /* Updated from px to % for responsiveness */
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.session-button-box, .test-results {
  background-color: #f0f0f0;
  border-radius: 2vw; /* Updated from px to vw for responsiveness */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 5%; 
  padding: 2%; /* Updated from px to % for responsiveness */
}

.session-button {
  background-color: #728094;
  color: white;
  border: none;
  border-radius: 2vw;
  padding: 2%;
  cursor: pointer;
  width: auto;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.test-results-container {
  width: 55%;
  margin: 0 auto; 
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%; 
}

.test-results-container h2 {
  text-align: center;
  margin-bottom: 2%;
  color: #728094;
}