.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vh;
}

.header-section {
  background-image: url("../assets/questionnairePageHeader.png");
  background-size: 170% 90%;
  background-repeat: no-repeat;
  background-position: center -40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.title-container {
  padding-bottom: 5%; /* Space above the questionnaire section */
  width: 25%; /* Full width */
  text-align: center; /* Center the title text */
}

.navbar {
  width: 100%; /* Full width */
  position: absolute; /* Fixed position relative to the viewport */
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, #727b89, transparent) !important;
  z-index: 1000; /* Ensure it's above other content */
}

.page-title {
  color: #ffffff;
  margin: 0;
}

.questionnaire-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  padding: 5%; /* Padding around the questionnaire box */
  margin-top: -35%;
}

.questionnaire-box {
  background-color: white;
  padding: 1em;
  border-radius: 15px; /* Smooth edges */
  margin: 0 auto; /* Centered horizontally */
  width: 50%; /* Adjust width as needed */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
  display: flex;
  border: 2px solid #d4dce9;
  flex-direction: column; /* Stack children vertically */
  align-items: left; /* Ensure the contents inside the box are centered */
  margin-bottom: 5%;
  z-index: 2;
}

.basic-info-title {
  text-align: center; /* Center the title text horizontally */
  width: 100%; /* Ensure the title takes full width of its container */
  color: #728094;
}

.questionnaire-content {
  margin-bottom: 1em; /* Space between content */
}

.questionnaire-content p {
  margin: 0.5em 0; /* Margin for top and bottom of paragraph */
  line-height: 3;
  color: #728094;
}

.questionnaire-content strong {
  font-weight: 600; /* Making the labels bold */
}

.button {
  background-color: #f2f6ff;
  color: #728094;
  border: none;
  border-radius: 2vw;
  padding: 1%;
  cursor: pointer;
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Karla;
  font-size: 15px;
  font-weight: 800; /* This makes the text bold */
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 2%;
}

.start-button {
  background-color: #728094;
  color: white;
  border: none;
  border-radius: 2vw;
  padding: 1.25%;
  cursor: pointer;
  width: 20%;
  box-shadow: 0px 15px 40px 0px #c9d4f880,
    /* Outer shadow */ 3px 1px 15px 0px #ffffff80 inset,
    /* Inner top-right shadow */ 0px -3px 10px 0px #0000005e inset; /* Inner bottom shadow */
}

.take-test-card {
  position: relative;
  border-radius: 25px;
  padding: 10px 30px; /* Adjusted padding */
  width: 600px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: center;
  background-color: #f2f6ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10%;
  margin-bottom: 3%;
}

/* Semicircle styling on top */
.take-test-card::before {
  content: var(--dynamic-title);
  position: absolute;
  top: -51px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 50px;
  border-radius: 50px 50px 0 0;
  background-color: #728094;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-bottom: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 40px;
}

.take-test-card h3 {
  display: none; /* We hide the original h3 as we're using the ::before pseudo-element for the semicircle */
}

.take-test-card p {
  font-size: 17px;
  margin-bottom: 10px;
  color: #728094;
  line-height: 1.6; /* Normal line height for better readability */
  padding: 0; /* No additional padding */
  margin: 0; /* Remove any margins that may push the content outside the container */
  width: auto; /* Default width to contain text within the parent */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

.question {
  text-align: left;
  justify-content: left;
  margin-top: 5%;
  margin-left: 2%;
}

.question label {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  cursor: pointer;
}

.question input[type="radio"] {
  margin-right: 10px;
}

.question label span {
  flex-grow: 1;
  white-space: nowrap;
}

.styling-image-1 {
  position: absolute;
  left: 0;
  right: 0;
  height: 150vh;
  background-image: url("../assets/questionnaire/Questionnaire-1.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center 90%;
}

.styling-image-2 {
  position: absolute;
  left: 0;
  right: 0;
  height: 150vh;
  background-image: url("../assets/questionnaire/Questionnaire-2.png");
  background-size: 250% auto;
  background-repeat: no-repeat;
  background-position: center 30%;
  z-index: -2;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #F2F6FF;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid #728094;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #728094;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid #728094;
}
