.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vh;
}

.header-section {
  background-image: url("../assets/questionnairePageHeader.png");
  background-size: 170% 90%;
  background-repeat: no-repeat;
  background-position: center -40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.title-container {
  padding-bottom: 5%;
  width: 25%;
  text-align: center;
}

.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, #727b89, transparent) !important;
  z-index: 1000; 
}

.page-title {
  color: #ffffff;
  margin: 0;
}

.questionnaire-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  margin-top: -35%;
}

.questionnaire-box {
  background-color: white;
  padding: 1em;
  border-radius: 15px;
  margin: 0 auto;
  width: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  border: 2px solid #d4dce9;
  flex-direction: column;
  align-items: left;
  margin-bottom: 5%;
  z-index: 2;
}

.basic-info-title {
  text-align: center;
  width: 100%;
  color: #728094;
}

.questionnaire-content {
  margin-bottom: 1em;
}

.questionnaire-content p {
  margin: 0.5em 0;
  line-height: 3;
  color: #728094;
}

.questionnaire-content strong {
  font-weight: 600;
}

.button {
  background-color: #f2f6ff;
  color: #728094;
  border: none;
  border-radius: 2vw;
  padding: 1%;
  cursor: pointer;
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Karla;
  font-size: 15px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 2%;
}

.start-button {
  background-color: #728094;
  color: white;
  border: none;
  border-radius: 2vw;
  padding: 1.25%;
  cursor: pointer;
  width: 20%;
  box-shadow: 0px 15px 40px 0px #c9d4f880,
    /* Outer shadow */ 3px 1px 15px 0px #ffffff80 inset,
    /* Inner top-right shadow */ 0px -3px 10px 0px #0000005e inset; /* Inner bottom shadow */
}

.take-test-card {
  position: relative;
  border-radius: 25px;
  padding: 10px 30px;
  width: 600px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: center;
  background-color: #f2f6ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10%;
  margin-bottom: 3%;
}

/* Semicircle styling on top */
.take-test-card::before {
  content: var(--dynamic-title);
  position: absolute;
  top: -51px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 50px;
  border-radius: 50px 50px 0 0;
  background-color: #728094;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-bottom: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 40px;
}

.take-test-card h3 {
  display: none;
}

.take-test-card p {
  font-size: 17px;
  margin-bottom: 10px;
  color: #728094;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  width: auto;
  box-sizing: border-box;
}

.question {
  text-align: left;
  justify-content: left;
  margin-top: 5%;
  margin-left: 2%;
}

.question label {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  cursor: pointer;
}

.question input[type="radio"] {
  margin-right: 10px;
}

.question label span {
  flex-grow: 1;
  white-space: nowrap;
}

.styling-image-1 {
  position: absolute;
  left: 0;
  right: 0;
  height: 150vh;
  background-image: url("../assets/questionnaire/Questionnaire-1.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center 90%;
}

.styling-image-2 {
  position: absolute;
  left: 0;
  right: 0;
  height: 150vh;
  background-image: url("../assets/questionnaire/Questionnaire-2.png");
  background-size: 250% auto;
  background-repeat: no-repeat;
  background-position: center 30%;
  z-index: -2;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #F2F6FF;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid #728094;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #728094;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid #728094;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #728094;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
